<!DOCTYPE html>
<html>
  <head>
    <title>Expenses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      .selectType,.selectCategory{
        background-color: #2495e3 !important;
        color:#ffffff !important;
      }
    </style>
  </head>

  <body>
  	<% if flash[:notice] %>
  	  <div class="alert alert-success alert-dismissible">
  	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	    <%= flash[:notice] %>    
  	  </div>
  	<% end %>  
  	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  	  <div class="container">
  	    <!-- Brand and toggle get grouped for better mobile display -->
  	    <div class="navbar-header">
  	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-0">
  	        <span class="sr-only">Toggle navigation</span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	      </button>
  	      <a class="navbar-brand" href="/">Expensify</a>
  	    </div>

  	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-0">
  	      <ul class="nav navbar-nav">
  	        <li class="<%= 'active' if @tab == :dashboard %>"><%= link_to "Dashboard", root_path %></li>
  	        <li class="<%= 'active' if @tab == :expenses %>"><%= link_to "Expenses", expenses_path %></li>
  	      </ul>
  	    </div>
  	  </div>
  	</nav>
  	<%= yield %>
  	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </body>
</html>
